{% extends "index.html" %}

{% block title %}TenoMed{% endblock %}

{% block content %}
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
        <div class="row previews">
        
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <a href="#" class="post-image-link">
                    <p><img src="1.jpg" class="img-responsive" alt="Free Bootstrap Creative Theme - Start Bootstrap" /></p>

                </a>
                <div class="caption">
                    <h3>Kopi Sadis</h3>
                    <p>Kafe sejuta umat tembung</p>
                    <a href="/cek_lokasi" class="btn btn-danger">Cek Lokasi</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <a href="/template-overviews/clean-blog" class="post-image-link">
                    <p><img src="2.jpg" class="img-responsive" alt="Free Bootstrap Blog Theme - Start Bootstrap" /></p>

                </a>
                <div class="caption">
                    <h3>Clean Blog</h3>
                    <p>A clean blog theme.</p>
                    <a href="/template-overviews/clean-blog" class="btn btn-default">Preview &amp; Download</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <a href="/template-overviews/agency" class="post-image-link">
                    <p><img src="1.jpg" class="img-responsive" alt="Free Bootstrap Agency Theme - Start Bootstrap" /></p>

                </a>
                <div class="caption">
                    <h3>Agency</h3>
                    <p>A one page agency theme.</p>
                    <a href="/template-overviews/agency" class="btn btn-default">Preview &amp; Download</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <a href="/template-overviews/freelancer" class="post-image-link">
                    <p><img src="2.jpg" class="img-responsive" alt="One Page Bootstrap Portfolio Theme" /></p>

                </a>
                <div class="caption">
                    <h3>Freelancer</h3>
                    <p>A one page freelancer theme.</p>
                    <a href="/template-overviews/freelancer" class="btn btn-default">Preview &amp; Download</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <a href="/template-overviews/grayscale" class="post-image-link">
                    <p><img src="1.jpg" class="img-responsive" alt="" /></p>

                </a>
                <div class="caption">
                    <h3>Grayscale</h3>
                    <p>A multipurpose one page theme.</p>
                    <a href="/template-overviews/grayscale" class="btn btn-default">Preview &amp; Download</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <a href="/template-overviews/sb-admin-2" class="post-image-link">
                    <p><img src="1.jpg" class="img-responsive" alt="Free Bootstrap Admin Theme - SB Admin 2" /></p>

                </a>
                <div class="caption">
                    <h3>SB Admin 2</h3>
                    <p>A free Bootstrap admin theme.</p>
                    <a href="/template-overviews/sb-admin-2" class="btn btn-default">Preview &amp; Download</a>
                </div>
            </div>
        </div>
        
    </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; TenoMed 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}