{% extends "base_tempat.html" %}
    {% block title %}
        Kopi Sadis
    {% endblock %}
    {% block mapcss %}
    <style type="text/css">
        #map {
            height: 500px;
            width: 100%;
            margin: auto;
            background-color: red;
            color: red;
        }

        .dari{
            padding-left: 10px;
            margin: auto;
        }
    </style>
    {% endblock %}

    {% block nama_tempat %}
        Kopi Sadis
    {% endblock %}
    
    {% block konten %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">ANDA DARI MANA ?</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="dari">
                                        <div id="pilihan">
                                            Dari :
                                            <input id="origin-input" class="controls" type="text" placeholder="Enter an origin location">
                                            Ke : <b>Kopi Sadis, Medan-Tembung. Jl. Nusantara</b>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">MAPS</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div id="map">
                                        Dari Sananya
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--          -->

    {% endblock %}

    {% block js %}
    <script src="js/google_maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW37jHGYhQbPOwY4aolCYQpgBak4oiGyA&libraries=places&callback=initMap" async defer></script>
    {% endblock %}