{% extends "base_tempat.html" %}
    {% block title %}
        Kopi Sadis
    {% endblock %}
    {% block mapcss %}
    <style type="text/css">
        #map {
            height: 500px;
            width: 100%;
            margin: auto;
            background-color: #222;
            color: red;
        }

        .kontrol{
            width: 90%;
            margin: 10px;
        }

        .controls{
            width: 100%;
        }
        #warnings-panel {
            width: 100%;
            height:10%;
            text-align: left;
        }

    </style>
    {% endblock %}

    {% block nama_tempat %}
        Kopi Sadis
    {% endblock %}
    
    {% block konten %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">MAPS</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div id="map">
                                        MAPS
                                    </div>
                                    &nbsp;
                                    <div id="warnings-panel"></div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">ANDA DARI MANA ?</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="kontrol">
                                        <div class="info">
                                            <h5>Anda dapat temukan rute ke lokasi tujuan denggan menginput lokasi anda pada form dibawah ini !</h5>
                                        </div>
                                        <div id="pilihan">
                                            Dari :
                                            <input id="origin-input" class="controls" type="text" placeholder="Enter an origin location">
                                            <br>Ke : <b>Kopi Sadis, Medan-Tembung. Jl. Nusantara</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">MENGUNAKAN</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="kontrol">

                                        <h5>Anda dapat menemukan lokasi dan menggunakan mode yang anda inginkan</h5>
                                        <div class="list-group">
                                            <button class="list-group-item" id="kendaraan_pribadi">KENDARAAN PRIBADI</button>
                                            <button class="list-group-item" id="angkot">ANGKUTAN UMUM</button>
<!--                                             <button class="list-group-item" id="kreta_api">KRETA API</button>
<button class="list-group-item" id="bersepeda">BERSEPEDA</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
<!--          -->

    {% endblock %}

    {% block js %}
<script src="js/google_maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW37jHGYhQbPOwY4aolCYQpgBak4oiGyA&libraries=places&callback=initMap" async defer></script>
    {% endblock %}