<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Data Kafe</title>
	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyAW37jHGYhQbPOwY4aolCYQpgBak4oiGyA"></script>
	<script src="js/alamat_dengan_maps.js"></script>
	<style type="text/css">
	#myMap{
		height: 400px;
		width: 50%;
	}
	</style>
</head>
<body>
	<form action="/admin/edit"  method="POST">
	<table>
		<tr>
			<td>Nama Cafe / Usaha</td>
			<td>:</td>
			<td><input type="text" id="nama" name="nama" value="{{kafe.nama}}"></td>
		</tr>

		<tr>
			<td>Deskripsi Cafe / Usaha</td>
			<td>:</td>
			<td><input type="text"  id="form-field-22" class="form-control" value="{{kafe.deskripsi}}"/></td>
		</tr>
		<tr>
			<td>Alamat</td>
			<td>:</td>
			<td>
	            <input id="address" type="text" value="{{kafe.alamat}}" name = "alamat" />
	            Lat: <input  type="text" name="lat" id="lat" placeholder="Latitude" value="{{kafe.lat}}" />
	            Lng: <input  type="text" name="lng" id="lng" placeholder="Longitude" value="{{kafe.lng}}"/>
            </td>
		</tr>
		<tr>
			<td>Foto Profil Usaha Anda</td>
			<td>:</td>
			<img src="{{kafe.img}}">
			<td><button id="addImage">+</button></td>
		</tr>
	</table>

    <p>Pilih lokasi Anda!</p>
    <div id="myMap"></div><br/>
	<input type="hidden" value="{{kafe._id}}" name = "id">
	<input type="hidden" name="_method" value="put"/>
	<button type="submit">submit</button>
	</form>
</body>
</html>
