{% extends "./templating.html" %}

{% block title %}TenoMed{% endblock %}

{% block content %}
	<div class="col-sm-7 col-md-8">
													<div class="alert alert-info">
														<button data-dismiss="alert" class="close">
															&times;
														</button>
														<strong>Selamat datang Dihalaman Admin,  lihat daftar cafe! </strong>
													</div>
													<div class="row">
							<div class="col-md-12">
								<!-- start: DYNAMIC TABLE PANEL -->
								<div class="panel panel-white">
									<div class="panel-heading">
										<h4 class="panel-title">Data <span class="text-bold">Cafe</span></h4>
										<div class="panel-tools">
											<div class="dropdown">
												<a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu dropdown-light pull-right" role="menu">
													<li>
														<a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
													</li>
													<li>
														<a class="panel-refresh" href="#">
															<i class="fa fa-refresh"></i> <span>Refresh</span>
														</a>
													</li>
													<li>
														<a class="panel-expand" href="#">
															<i class="fa fa-expand"></i> <span>Fullscreen</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="panel-body">
										<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
											<thead>
												<tr>
													<th>Nama cafe</th>
													<th class="hidden-xs">Alamat</th>
													<th>Description</th>
													<th class="hidden-xs" width="120"> Action</th>
												</tr>
											</thead>
											<tbody>
											{% for data in datas %}
												<tr>
													<td>{{ data.nama }}</td>
													<td class="hidden-xs">{{ data.alamat }}</td>
													<td>{{ data.deskripsi }}</td>
													<td class="center">
													<div class="visible-md visible-lg hidden-sm hidden-xs">
														<a href="/admin/edit1/{{data._id}}" class="btn btn-xs btn-blue tooltips " data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
														<a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
														<a href="#" class="btn btn-xs btn-red tooltips deleteKafe" id="{{ data._id }}" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
													</div>
												
													</div></td>
												</tr>
												{% else %}
									            <b>Data Tidak Ada</b>
									            {% endfor %}
												
											</tbody>
										</table>
									</div>
								</div>

								<!-- end: DYNAMIC TABLE PANEL -->
							</div>
						</div>
													
												</div>
												
											</div>
										</div>
										<div id="panel_edit_account" class="tab-pane fade">
											<form action="/admin/tambah_kafe" role="form" id="form" method="POST">
												<div class="row">
													<div class="col-md-12">
														<h3>Input data cafe</h3>
														<hr>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label">
																Nama Cafe / Usaha
															</label>
															<input type="text" placeholder="Nama cafe" id="nama" name="nama" class="form-control">
														</div>
														<div class="form-group">
															<label class="control-label">
																Deskripsi Cafe
															</label>
															<textarea placeholder="Deskripsi Cafe" id="form-field-22" name="deskripsi" class="form-control"></textarea>
														</div>
														
													</div>
													
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">
																Alamat
															</label>
															<input type="text" placeholder="Alamat" id="address" name="alamat" class="form-control">
														</div>
														
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">
																latitude
															</label>
															<input type="text" name="lat" id="latitude" placeholder="Latitude" class="form-control">
														</div>
														
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">
																longitude
															</label>
															<input type="text" name="lng" id="longitude" placeholder="Longitude" class="form-control">
														</div>	
													</div>
												</div>
												<div class="row">
													<div class="col-md-8" >
														<div class="form-group" id="myMap">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>
																Image Upload
															</label>
															<div class="fileupload fileupload-new" data-provides="fileupload">
																<div class="fileupload-new thumbnail"><img src="images/avatar-1-xl.jpg" alt="">
																</div>
																<div class="fileupload-preview fileupload-exists thumbnail"></div>
																<div class="user-edit-image-buttons">
																	<span class="btn btn-azure btn-file"><span class="fileupload-new"><i class="fa fa-picture"></i> Select image</span><span class="fileupload-exists"><i class="fa fa-picture"></i> Change</span>
																		<input type="file" name="gambar">
																	</span>
																	<a href="#" class="btn fileupload-exists btn-red" data-dismiss="fileupload">
																		<i class="fa fa-times" id=""></i> Remove
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</br>
												<div class="row">
													<div class="col-md-8">
														<p>
															By clicking UPDATE, you are agreeing to the Policy and Terms &amp; Conditions.
														</p>
													</div>
													<div class="col-md-4">
														<button class="btn btn-green btn-block" type="submit">
															Submit <i class="fa fa-arrow-circle-right"></i>
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end: PAGE CONTENT-->
{% endblock %}