{% extends "./index.html" %}

{% block title %}TenoMed{% endblock %}

{% block projects %}
<div class="container">
                    <div class="row">
                        <div class="title add-animation">
                            <h2>Our Popular Cafe</h2>
                            <hr size="1">
                            <p>Check out the most popular Cafe from our platform. We would love to hear your feedback.<br><br></p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="project add-animation animation-1">
                                <a target="_blank" class="img-class" href="#">
                                   <img src="img/2.jpg"/>
                                </a>
                                <div class="over-area over-area-sm color-1">
                                    <div class="content">
                                        <h5></h5>
                                        <h3>Kopi Sadis</h3>
                                        <p>Kopi Sadis memiliki beragam menu makanan dan minuman terutama Kopinya, Penasaran ? buaruan data Ke Kopi Sadis..</p>
                                        <a href="detail_tempat" class="btn btn-round btn-fill">Lihat Selengkapnya</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="project add-animation animation-2">
                                <a target="_blank" class="img-class" href="#">
                                    <img src="img/1.jpg"/>
                                </a>
                                <div class="over-area over-area-sm color-1">
                                    <div class="content">
                                        <h5></h5>
                                        <h3>Kopi Sadis</h3>
                                        <p>Kopi Sadis memiliki beragam menu makanan dan minuman terutama Kopinya, Penasaran ? buaruan data Ke Kopi Sadis..</p>
                                        <a href="detail_tempat" class="btn btn-round btn-fill">Lihat Selengkapnya</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="project add-animation animation-3">
                                <a target="_blank" class="img-class" href="http://www.certivy-tim.com/product/coming-sssoon-page?ref=presentation-page">
                                    <img src="img/3.jpg"/>
                                </a>
                                <div class="over-area over-area-sm color-1">
                                    <div class="content">
                                        <h5></h5>
                                        <h3>Kopi Sadis</h3>
                                        <p>Kopi Sadis memiliki beragam menu makanan dan minuman terutama Kopinya, Penasaran ? buaruan data Ke Kopi Sadis..</p>
                                        <a href="detail_tempat" class="btn btn-round btn-fill">Lihat Selengkapnya</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="space-50"></div>

                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="project add-animation animation-1">
                                <a target="_blank" class="img-class" href="http://www.certivy-tim.com/product/light-bootstrap-dashboard?ref=presentation-page">
                                    <img src="img/1.jpg">
                                </a>
                                <div class="over-area over-area-sm color-1">
                                    <div class="content">
                                        <h5></h5>
                                        <h3>Kopi Sadis</h3>
                                        <p>Kopi Sadis memiliki beragam menu makanan dan minuman terutama Kopinya, Penasaran ? buaruan data Ke Kopi Sadis..</p>
                                        <a href="detail_tempat" class="btn btn-round btn-fill">Lihat Selengkapnya</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="project add-animation animation-2">
                                <a target="_blank" class="img-class" href="http://www.certivy-tim.com/product/paper-kit?ref=presentation-page">
                                    <img src="img/2.jpg">
                                </a>
                                <div class="over-area over-area-sm color-1">
                                    <div class="content">
                                        <h5></h5>
                                        <h3>Kopi Sadis</h3>
                                        <p>Kopi Sadis memiliki beragam menu makanan dan minuman terutama Kopinya, Penasaran ? buaruan data Ke Kopi Sadis..</p>
                                        <a href="detail_tempat" class="btn btn-round btn-fill">Lihat Selengkapnya</a>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="project add-animation animation-3">
                                <a target="_blank" class="img-class" href="http://www.certivy-tim.com/product/awesome-landing-page?ref=presentation-page">
                                    <img src="img/3.jpg">
                                </a>
                                <div class="over-area over-area-sm color-1">
                                    <div class="content">
                                        <h5></h5>
                                        <h3>Kopi Sadis</h3>
                                        <p>Kopi Sadis memiliki beragam menu makanan dan minuman terutama Kopinya, Penasaran ? buaruan data Ke Kopi Sadis..</p>
                                        <a href="detail_tempat" class="btn btn-round btn-fill">Lihat Selengkapnya</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


                    </div>
                    

                </div>
{% endblock %}


{% block team %}
<div class="container">
                    <div class="text-area">
                        <div class="title add-animation">
                            <h2>Our Team</h2>
                            <hr size="1">

                        </div>
                    </div>
                    <div class="team">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="member add-animation animation-1">
                                    <img class="img-circle" src="img/doko.jpg"/>
                                    <div class="description">
                                        <h3 class="big-text">Handoko</h3>
                                        <br>
                                        <p class="small-text">Handoko is one of the co-founders and takes care of growth, product development and partnerships. She is analytical, driven and adapts easily to new conditions, while trying to keep everyone on track.
                                        </p>
                                    </div>
                                    <div class="social-buttons hidden-xs">
                                       <a target="_blank" href="https://twitter.com/conacelelena" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="https://www.linkedin.com/profile/view?id=250414665&amp;trk=hp-identity-photo" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="member add-animation animation-2">
                                    <img class="img-circle" src="img/diana.png"/>
                                    <div class="description">
                                        <h3 class="big-text">Randy Muhroji </h3>
                                        <br>
                                        <p class="small-text">Randy is the person behind our social media channels, she takes care of our users' community and communication. She is ambitious, hard-working, instantly likeable and fun to be around.
                                        </p>
                                    </div>
                                    <div class="social-buttons hidden-xs">
                                        <a target="_blank" href="https://twitter.com/eDianaCaliman" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                                         <a target="_blank" href="https://www.linkedin.com/in/diana-caliman-751552b5?authType=NAME_SEARCH&amp;authToken=UNni&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A410432173%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1453464938870%2Ctas%3Adiana%20caliman" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>
                                         <a target="_blank" href="https://www.facebook.com/DianaaCaliman?fref=ts" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></a>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="member add-animation animation-3">
                                    <img class="img-circle" src="img/alex.png"/>
                                    <div class="description">
                                        <h3 class="big-text">Muhammad Al-Pandi</h3>
                                        <br>
                                        <p class="small-text">Pandi is one of the co-founders and drives the technical strategy of the platform, customer support and brand. He is level-headed, smart and with a taste for simple, aesthetic design.</p>
                                    </div>
                                    <div class="social-buttons hidden-xs">
                                        <a target="_blank" href="https://www.facebook.com/axelut?fref=ts" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></a>
                                        <a target="_blank" href="https://twitter.com/Axelut" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="https://www.linkedin.com/profile/view?id=270589579&amp;authType=NAME_SEARCH&amp;authToken=lBnx&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1430838672545%2Ctas%3Aalex%20pa" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="member add-animation animation-4">
                                    <img class="img-circle" src="img/alex.png"/>
                                    <div class="description">
                                        <h3 class="big-text">Harris Silalahi</h3>
                                        <br>
                                        <p class="small-text">Harris is one of the co-founders and drives the technical strategy of the platform, customer support and brand. He is level-headed, smart and with a taste for simple, aesthetic design.</p>
                                    </div>
                                    <div class="social-buttons hidden-xs">
                                        <a target="_blank" href="https://www.facebook.com/Aiisstretteam" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></a>
                                        <a target="_blank" href="https://twitter.com/Axelut" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="https://www.linkedin.com/profile/view?id=270589579&amp;authType=NAME_SEARCH&amp;authToken=lBnx&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1430838672545%2Ctas%3Aalex%20pa" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}

{% block footer %}
<div class="container">
    <div class="copyright">
        &copy; 2016 <a href="/"> tenoMed</a>
    </div>
</div>
{% endblock %}
