{% extends "./index.html" %}

{% block title %}TenoMed{% endblock %}

{% block projects %}
<div class="container">
    <div class="row">
        <div class="title add-animation">
            <h2>The Cafe's</h2>
            <hr size="1">
            <p>Lihat Tempat Nongkrong Favorit Kalian<br><br></p>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            {% for data in datas %}
            {% if data.nama %}
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="project add-animation animation-1">
                    <a target="_blank" class="img-class" href="#">
                       <img src="img/2.jpg"/>
                    </a>
                    <div class="over-area over-area-sm color-1">
                        <div class="content">
                            <h5></h5>
                            <h3>{{ data.nama }}</h3>
                            <p>{{ data.deskripsi }}</p>
                            <a href="/detail_tempat/{{ data._id }}" class="btn btn-round btn-fill">Lihat Selengkapnya</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% else %}
            <b>Data Tidak Ada</b>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block team %}
<div class="container">
                    <div class="text-area">
                        <div class="title add-animation">
                            <h2>Our Team</h2>
                            <hr size="1">

                        </div>
                    </div>
                    <div class="team">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="member add-animation animation-1">
                                    <img class="img-circle" src="img/doko.jpg"/>
                                    <div class="description">
                                        <h3 class="big-text">Handoko</h3>
                                        <br>
                                        <p class="small-text">Nama Lengkap : Handoko<br>NIM: 131112080</p>
                                    </div>
                                    <div class="social-buttons hidden-xs">
					<a target="_blank" href="https://www.facebook.com/dokotanjung" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></a>
                                       <a target="_blank" href="https://twitter.com/conacelelena" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="https://www.linkedin.com/profile/view?id=250414665&amp;trk=hp-identity-photo" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="member add-animation animation-2">
                                    <img class="img-circle" src="img/randy.jpg"/>
                                    <div class="description">
                                        <h3 class="big-text">Randy Muhroji </h3>
                                        <br>
                                        <p class="small-text">Nama Lengkap : Randy Muhroji<br>NIM: 131111661</p>
                                    </div>
                                    <div class="social-buttons hidden-xs">
					<a target="_blank" href="https://www.facebook.com/randy.muhroji" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></a>
                                        <a target="_blank" href="https://twitter.com/RandyMuhroji" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                                         <a target="_blank" href="https://www.linkedin.com/in/diana-caliman-751552b5?authType=NAME_SEARCH&amp;authToken=UNni&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A410432173%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1453464938870%2Ctas%3Adiana%20caliman" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>
                                         
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="member add-animation animation-3">
                                    <img class="img-circle" src="img/pandi.jpg"/>
                                    <div class="description">
                                        <h3 class="big-text">Muhammad Al-Pandi</h3>
                                        <br>
                                        <p class="small-text">Nama Lengkap : Muhammad Al-Pandi<br>NIM: 131112098</p>
                                    </div>
                                    <div class="social-buttons hidden-xs">
                                        <a target="_blank" href="https://www.facebook.com/axelut?fref=ts" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></a>
                                        <a target="_blank" href="https://twitter.com/Axelut" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="https://www.linkedin.com/profile/view?id=270589579&amp;authType=NAME_SEARCH&amp;authToken=lBnx&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1430838672545%2Ctas%3Aalex%20pa" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="member add-animation animation-4">
                                    <img class="img-circle" src="img/haris.jpg"/>
                                    <div class="description">
                                        <h3 class="big-text">Harris Silalahi</h3>
                                        <br>
                                        <p class="small-text">Nama Lengkap : Harris Tanto Silalahi<br>NIM: 131114447</br>                            </div>
                                    <div class="social-buttons hidden-xs">
                                        <a target="_blank" href="https://www.facebook.com/AiisStreetteam" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></a>
                                        <a target="_blank" href="https://twitter.com/Harisjoes28" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="https://www.linkedin.com/profile/view?id=270589579&amp;authType=NAME_SEARCH&amp;authToken=lBnx&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1430838672545%2Ctas%3Aalex%20pa" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}

{% block footer %}
<div class="container">
    <div class="copyright">
        &copy; 2016 <a href="/"> tenoMed</a>
    </div>
</div>
{% endblock %}
